/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: HelveticaNeue-Thin;
  src: url('helveticaneue-medium.51acad45c8092db01b33.woff') format("woff");
  src: url('helveticaneue-medium.15119f0186fb130faf2a.woff2') format("woff2");
  font-kerning: none;
  letter-spacing: 2px;
  font-weight: 200;
}
@font-face {
  font-family: HelveticaNeue-bold;
  src: url('helveticaneue-bold.b55fd969a1eada8e1bdf.woff') format("woff");
  src: url('helveticaneue-bold.a2983dbb6f1bc619a091.woff2') format("woff2");
}
@font-face {
  font-family: HelveticaNeue-light;
  src: url('helveticaneue-light.bc19fa867f358b93bd05.woff') format("woff");
  src: url('helveticaneue-light.54f8573e8f38365d3f97.woff2') format("woff2");
}
